﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<ul>
    @foreach (var movie in Model)
    {
        <li>@movie.Name</li>
    }
</ul>

